body{
    font-family: 'Montserrat', sans-serif;
}

.orange{
    color: rgb(176, 2, 199);
}
.skip{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    
}
.half-width{
    width: 50%;
    padding-top: 50px;
}
h1{
    margin-top: 0%;
    color: rgb(85, 79, 79);
    font-size: 55px;
    padding: 120px 40px 0 40px;
    margin-left: 20px;
}
h2{
    margin-top: 0%;
    color: rgb(85, 79, 79);
    font-size: 40px;
    padding-top: 120px;
    padding-bottom: 0;
    padding-right: 80px;
    padding-left:40px;
    
    margin-left: 20px;
}
.para{
    color: rgb(87, 83, 83);
    font-size: 15px;
    padding: 0px 35px 10px 35px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-right: 80px;
    line-height: 35px;
}
.img1{
    width: 85%;
}
.img2{
    width: 80%;
    padding-left: 180px;
}

.btn{
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(223, 11, 213),rgb(223, 226, 233));
    border-radius: 20px;
    font-size: 20px;
    margin-left: 40px;
    
}
.about-me{
    display: flex;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.recipes{
    width: 100%;
}
.flexible{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.half-width-two{
    width:30%;
    border: 1px solid white;
    text-align: center;
    border-radius: 30px;
    box-shadow: 10px 10px 30px gray;
  
}

#myrcp{
    font-size: 1cm;
    text-align: center;
    color:rgb(85, 79, 79);
}
#pararcp{
    color: rgb(85, 79, 79);
    font-size: 20px;
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 20px;
    
}
.foodimg{
    width:90%;

    padding: 15px 10px;
    margin: 0;
}
.h3{
    text-align: left;
    margin: 15px;
    font-size: 25px;
    
    
}
.lastp{
    line-height: 35px;
    text-align: left;
    padding-left: 15px;
    font-weight:500;
    padding-right: 15px;
    color:rgb(85, 79, 79);
}
#bb1{
    margin-left: 90px;
    
}
#bb2{
    margin-left: 45px;
}
#bb3{
    margin-left: 45px;
    margin-right: 90px;
}
.footer{
    background-color: rgb(3, 3, 3);
    margin-bottom: 0;
    overflow: auto;
    text-align: center;
}
  
}
.white{
    color: rgb(121, 110, 110);
}
#footh3{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
#lastfoot{
    color: rgb(168, 158, 158);
    text-align: center;
    padding-bottom: 80px;
}

    
}
#boxtext{
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}

h4{
    margin: 10px;
    font-size: 30px;
    color: rgb(116, 111, 103);
}
.last{color: rgb(176, 2, 199);
    text-align:center;
}
#cc{color: rgb(204, 193, 193);
text-align: center;}